menu "Fingerprint Drivers"

config FINGERPRINT_GF3208
	tristate "goodix gf3208 fingerprint drvier support"
	help
	  say y here to enable goodix gf3208 fingerprint driver support!

config FINGERPRINT_FPC1020
	tristate "FPC 1020 fingerprint drvier support"
	help
	  say y here to enable fpc fingerprint driver support!

endmenu
